/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

@import "styles/bookmarks-hide-text.css";
@import "styles/bookmarks-more-padding.css";
@import "styles/button-back-hide.css";
@import "styles/button-forward-hide.css";
/* @import "styles/button-menu-move-left.css"; */
/* @import "styles/button-menu-move-tabbar.css"; */
@import "styles/tab-hide-close-buttons.css";
@import "styles/tab-hide-seperators.css";
/* @import "styles/tab-hide-whitespace-after.css"; */
@import "styles/tab-hide-whitespace-before.css";
/* @import "styles/tab-line-colour-windows.css"; */
@import "styles/tab-line-remove.css";
/* @import "styles/tab-multi-row.css"; */
/* @import "styles/tab-prevent-overflow.css"; */
/* @import "styles/top-split-nav-bookmarks.css" (min-width: 1260px); */
/* @import "styles/url-autohide.css"; */
@import "styles/url-colour.css";


/* #navigator-toolbox { */
:root:not([customizing]) {
	/* Set background colour */
	/* --chrome-secondary-background-color: SteelBlue !important; */

	/* Set tab height */
	--tab-min-height: 33px !important;

	/* Set the height of the nav-bar */
	--nav-bar-height: 33px;
}


/* Remove the action button in the URL bar */
#pageActionButton { display: none !important; }

/* Remove the i button in the URL bar */
#identity-icon { margin-inline-start: -4px !important; }
#connection-icon { display: none !important; }

/* Remove the identity box from the URL bar */
/* #identity-box { max-width: 0 !important; } */
