/* nav and bookmarks */
/* #PersonalToolbar[collapsed="false"] +  */
#nav-bar {
  height: var(--nav-bar-height) !important;
  margin-right: 50vw;
}
#PersonalToolbar {
  border-top: 1px solid transparent;
  margin-top: calc(var(--nav-bar-height) * -1) !important;
  margin-left: 50vw;
}

/* Remove border under bookmark bar or navbar (if bookmark bar is hidden) */
#navigator-toolbox::after { border-bottom: 0px !important; }