/* Move Tab-bar beside Nav-bar */
#TabsToolbar {
	/* Add left border  */
	margin-bottom: -2px !important;
	margin-left: 40vw !important;
}

#nav-bar {
	margin-top: calc(var(--nav-bar-height) * -1) !important;
	margin-right: 60vw !important; 
	border-top: transparent !important;
}
